.listItem {
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.listItem:not(:last-child) {
    border-bottom: 1px solid #77899a;
}
.listItem.confirmed .itemSpan {
    color: #32a4c5;
}
.listItem.denied .itemSpan {
    color: dimgrey;
    text-decoration: line-through;
}
.itemSpan{
    flex-basis: 50%;
    text-align: center;
    display: inline-block;
    padding: 0 2rem;
}
.itemSpan:nth-child(2) {
    border-right: 1px solid #77899a;
}
.itemExtra{
    flex-basis: 50%;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
.itemExtra span{
    flex-basis: 50%;
    text-align: center;
}
.itemBtn{
    flex-basis: 50%;
}

