.listItem {
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.listItem:not(:last-child) {
    border-bottom: 1px solid #77899a;
}
.itemSpan{
    flex-basis: 50%;
    text-align: center;
    display: inline-block;
    padding: 0 2rem;
}
.itemSpan:nth-child(2) {
    border-right: 1px solid #77899a;
}